* {
    font-family: Yekan, "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

body {
    background-color: #434343;
    color: white;
}

a {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    text-decoration: inherit;
    color: inherit;
}

ul {
    list-style-type: none;
}

.container {
    margin: 10px;
}

.card {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 21px;
    color: white;
}