* {
    font-family: Yekan, "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

body {
    background-color: #434343;
    color: white;
    overflow-x: hidden;
}

a {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    text-decoration: inherit;
    color: inherit;
}

ul {
    list-style-type: none;
}

.card {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 21px;
    color: white;
}


/* Django forms */
.django-form br, .django-form .helptext {
    display: none;
}

.errorlist {
    color: #ffc107!important;
}

.django-form label {
    margin-top: 15px;
    margin-bottom: 5px;
}

.django-form .btn {
    margin-top: 30px;
}